<form action="/" method="POST">
    <label for="name">Enter event name</label>
    <input type="text" id="name" name="name" autocomplete="off">
    <label for="date">Enter event date</label>
    <input type="date" id="date" name="date">
    <button type="submit">Submit</button>
</form>