<form action="/" method="POST">
    <div class="form-control">
        <label for="event-type">Select type</label>
        <select name="event-type" id="event-type">
            <option value="birthday">Birthday</option>
            <option value="nameday">Nameday</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="form-control" id="birthday-control">
        <label for="birthday-person">Birthday</label>
        <input type="text" id="birthday-person" name="birthday-person" placeholder="Enter name" autocomplete="off">
        <label for="birthday-date"></label>
        <input type="date" name="birthday-date" id="birthday-date">
    </div>

    <div class="form-control" id="nameday-control">
        <label for="nameday-person">Nameday</label>
        <input type="text" id="nameday-person" name="nameday-person" placeholder="Enter name" autocomplete="off">
        <label for="nameday-date"></label>
        <input type="date" name="nameday-date" id="nameday-date">
    </div>

    <div class="form-control" id="other-control">
        <label for="other-person">Other Event</label>
        <input type="text" id="other-person" name="other-person" autocomplete="off">
        <label for="other-date"></label>
        <input type="date" name="other-date" id="other-date">
    </div>

    <button type="submit">Submit</button>
</form>