<form action="/" method="POST">
    <div class="form-control">
        <label for="type">Select type</label>
        <select name="type" id="type">
            <option value="nameday">Nameday</option>
            <option value="birthday">Birthday</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="form-control" id="event-name-control">
        <label for="event-name">Enter event name</label>
        <input type="text" id="event-name" name="event-name" autocomplete="off">
    </div>
    
    <div class="form-control" id="person-name-control">
        <label for="person-name">Enter person name</label>
        <input type="text" id="person-name" name="person-name" autocomplete="off">
    </div>

    <button type="submit">Submit</button>
</form>