<form action="/" method="POST">
    <div class="form-control">
        <label for="type">Select Event Type</label>
        <select name="type" id="type">
            <option value="birthday">Birthday</option>
            <option value="nameday">Nameday</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="form-control">
        <input type="text" name="information" id="information" placeholder="Event Information" autocomplete="off">
    </div>

    <div class="form-control">
        <input type="date" name="date" id="date">
    </div>
    
    <div class="submit-button">
        <button type="submit">Submit</button>
    </div>
</form>