<form action="/" method="POST">
    <div class="form-control">
        <label for="type">Select type</label>
        <select name="type" id="type">
            <option value="birthday">Birthday</option>
            <option value="nameday">Nameday</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="form-control">
        <label for="information">Event Information</label>
        <input type="text" name="information" id="information">
    </div>

    <div class="form-control">
        <label for="date">Select type</label>
        <input type="date" name="date" id="date">
    </div>

    <button type="submit">Submit</button>
</form>