/* Shared */
* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

body {
    font-family: 'Oswald', sans-serif;
    color: rgb(240, 240, 240);
    background: #2e2c39;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

/* Backdrop */
#backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

/* ================== HEADER ================ */

.header__add-new {
    margin: 20px 0;
}

button {
    border:none;
    padding:5px 10px;
    background-color: darkolivegreen;
    border-radius: 5px;
    color:white;
    font-size: 14px;
}